aws_region         = "us-east-1"
environment        = "dev"
expected_account_id = "123456789012"
platform_admin_arn = "arn:aws:iam::123456789012:role/NorthstarPlatformAdmin"
allowed_api_cidrs  = ["203.0.113.10/32"]
enable_public_cluster_endpoint = false
single_nat_gateway = true
enable_managed_data = false
budget_email       = "you@example.com"
